<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.eightbot.zebra_forms">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />
	<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="Zebra Forms">
		<uses-library android:name="com.symbol.emdk" android:required="false" />
	</application>
</manifest>